# PostgreSQL Source

SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_DATABASE=database_name
SOURCE_POSTGRES_USER=username
SOURCE_POSTGRES_PASSWORD=password
SOURCE_POSTGRES_SSLMODE=require

# DuckDB

DBT_DUCKDB_PATH=dev.duckdb