# PostgreSQL Source

SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5433
SOURCE_POSTGRES_DATABASE=concessionaria
SOURCE_POSTGRES_USER=leticia
SOURCE_POSTGRES_PASSWORD=leticia_dev
SOURCE_POSTGRES_SSLMODE=disable

# DuckDB

DBT_DUCKDB_PATH=dev.duckdb